# nothing inside this
*.swp
*~
.netrwhist
.netrwhist~
.netrwhisy~
.netrwhisz~
vim/bundle/tlib/doc/tags
config.autosave
gitconfig.personal
gitconfig.work
away.log
mutt.aliases
mutt.certs
mutt.signature
mutt.*.signature
tags
tags-ja
tmux.conf.local
vimrc.local
zshrc.local*
zshrc.prompt.local
mutt/cache
ssh.local/
