[submodule "bundle/gpg"]
	path = bundle/gpg
	url = https://github.com/vim-scripts/gnupg.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "tcomment_vim"]
	path = tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
